.note {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 25px;
  width: 270px;
  height: 200px;
  background-color: #22bfa0;
  border-radius: 8%;
  font-size: 18px;
  color: #222222;
  font-weight: 500;
  position: relative;
}

.note__input {
  background-color: transparent;
  font-size: 18px;
  height: 140px;
  max-width: 255px;
  border: none;
  outline: none;
}

.note__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
}

.note__icons {
  display: flex;
  width: 85px;
  justify-content: space-between;
}

.icon-wrapper {
  background-color: black;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
}

.note__colors {
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 28px;
  bottom: 80px;
}

@media (max-width: 426px) {
  .note {
    justify-self: center;
  }
}
